<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p>Call of Duty FPS</p>
    <p>Madden 25 NFL GAME</p>
    <p>NBA 2k25 NBA GAME</p>
    <img src="/images/gamingImage.jpg" alt="Games Image" style="width: 100%; height: auto;">
<%- include('../partials/footer') %>