<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p>players Kobe Bryant</p>
    <p>stats 30 PPG 6 ASST</p>
    <p>city Los Angeles</p>
    <img src="/images/nba-logo_2x.png" alt="nba Image" style="width: 100%; height: auto;">
<%- include('../partials/footer') %>
